*~
*.app
*.cache
*.dylib
*.lo
*.lo?
*.la
*.moc.cpp
*.o
*.so
*.trs
*.vlt
*.class
*.dmg
.DS_Store


# Ignore build dirs
build*
contrib-*
install-*

Cargo.lock
tests/target
tests/src/ppapi/target
tests/src/vlc/target
